.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  
}

.modal-content {
  background-color: whitesmoke;
  color: black;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px 10px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  
}